---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="title" transition:name="ByteBuddy">ByteBuddy</h1>
</BaseLayout>
<style>
  .title {
    font-size: 3rem;
  }
</style>
