---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <div style="display: flex; justify-content: center;">
            <img src="/site-under-construction.png" alt="perrito albañil" style="width: 600px; height: 500px">
        </div>
	</body>
</html>
