---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import MySkills from "../components/MySkills.astro";
import Projects from "../components/Projects.astro";
import ContactMe from "../components/ContactMe.astro";
---

<BaseLayout title="David Hernandez">
  <main class="wrapper">
    <Hero />
    <MySkills />
    <!-- <Projects /> -->
    <ContactMe />
  </main>
</BaseLayout>

<style>
  .wrapper {
    height: 100%;
  }
</style>
